<%- include('partials/header.ejs') %>
<body>
    <div class="container">
        <div class="content">
            <form>
                <h2 class="mb-4 center-text">Cadastro</h2>
                <div class="form-group">
                    <label for="login">Usuário</label>
                    <input type="text" class="form-control" id="login" placeholder="Digite o nome de usuário">
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" placeholder="Digite uma senha">
                </div>
                <div class="form-group">
                    <label for="text">Nome completo</label>
                    <input type="name" class="form-control" id="name" placeholder="Digite seu nome completo">
                </div>
                <div class="center-text">
                    <button type="submit" class="btn btn-entrar">Entrar</button>
                </div>
            </form>
            <form action="">

            </form>
        </div>
    </div>

<%- include('partials/footer.ejs') %>